body{
  background-color: rgb(0, 0, 5);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
button{
  background-color: blanchedalmond;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  border: groove brown 5px;
  border-radius: 50px;
  cursor: pointer;
  padding: 30px;
}
button:hover{
  background-color: red;
  color: white;

}
.container{
  background-color: rgb(31, 216, 240);
  display: flex;
  align-items: center;
  padding: 20px;
  margin-top: 10px;
  border-radius: 50px;
}
li{
  font-size: 20px;
}